.cardContainer{
	/*border: 3px solid black; */
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	align-items: center;
	justify-content: flex-start;
	min-height:250px;
	margin-top: 3%;

}
.card{
	height:300px;
	width:250px;
	margin: 1%;
	background-color:rgb(26, 88, 117);
	border-radius: 5px;
	border-color:black;
	box-shadow: 2px 2px 2px;
}
	.card:hover{
		box-shadow: -12px 12px 1px;
	}
